<div class="container mobileScroll">
    <div class="row">
      <div class="col-md-10 containerWall">
        <h1 class="titleWall text-center">Logremos el 7</h1>
        <h1 class="display-4 text-center text-white titlePerfil">Información Personal</h1>
        <div class="container-fluid">
          <div class="row contForm">
            <div class="col-md-10">
              <div class="image text-center">
                <img src="../../../img/niniaygato.png" width="200" height="200">
              </div>
              <p class="infoPerfil text-white text-center"> Nombre :</p>
              <p class="datePerfil text-center"> Anita la Huerfanita</p>
              <p class="infoPerfil text-white text-center"> E-mail :</p>
              <p class="datePerfil text-center"> anita@gmail.com</p>
              <p class="infoPerfil text-white text-center"> Edad :</p>
              <p class="datePerfil text-center">20</p>
              <p class="infoPerfil text-white text-center"> Sobre mi...</p>
              <p class="datePerfil text-center"> Me gusta estudiar y los gatos</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>   
  
