
.imgAvatar {
	border-radius: 100px;
	width: 70px !important;
	margin-top: 35px;
	margin-bottom: 10px;
}

.nameUser {
	margin-top: 45px;
	font-size: 25px;
	color: #ffffff;
}

.datePost {
	margin-top: -12px;
	color: #ffffff;
	font-size: 18px;
}

.imgApple {
	width: 24px;
	height: 24px;
}

.btnApple {
	background: transparent;
	border: none;
	margin-top: 12px;
	outline: none !important;
}


.btnApple:hover {
	background: transparent;
	border: none;
	margin-top: 12px;
}

.appleLike {
	float: right;
	margin-top: 20px;
	color: #ffffff;
}