<div class="container-fluid">
  <div class="row">
    <div class="col-12">
      <div class="float-left">
        <img src="{{dataUser.photo}}" alt="avatar" class="img-fluid imgAvatar ">
      </div>
      <div class="float-left ml-3">
        <p class="nameUser">{{dataUser.name}} {{dataUser.email}}</p>
        <p class="datePost">{{dataUser.date}}</p>
      </div>
    </div>
  </div>
    <div class="row">
      <div class="col-12">
        <textarea disabled class="form-control able" rows="3">{{dataUser.review}}</textarea>
      </div>
    </div>
    <div class="row">
      <div class="col-12 mb-3">
        <div>
          <button type="button" class="btn btn-primary float-right btnApple" >
            <img src="../../../img/manzana.png" class="imgApple" alt="apple">
          </button>
          <p class="appleLike">{{dataUser.level}}</p>
        </div>
      </div>
  </div>
</div>

