.imgAvatar {
	border-radius: 100px;
	width: 90px !important;
	margin-top: 50px;
	margin-bottom: 10px;
	box-shadow: rgba(34,34,34,0.4) 0px 3px 3px 0px;
}

.able{
	box-shadow: rgba(34,34,34,0.4) 0px 3px 3px 0px;
}
.nameUser {
	margin-top: 45px;
	font-size: 25px;
	color: #ffffff;
}

.datePost {
	margin-top: -15px;
	color: #ffffff;
	font-size: 18px;
}

.imgApple {
	width: 24px;
	height: 24px;
}

.btnApple {
	background: transparent;
	border: none;
	margin-top: 12px;
	outline: none !important;
}


.btnApple:hover {
	background: transparent;
	border: none;
	margin-top: 12px;
}

.appleLike {
	float: right;
	margin-top: 20px;
	color: #ffffff;
}