.titleSize {
  font-family: "CoalhandLukeTRIAL";
  color: #ffffff;
}

@media (min-width: 1025px) {
  .titleSize {
    font-size: 90px;
  }
}

@media (max-width: 1024px) {
  .titleSize {
    font-size: 60px;
  }
}

@media (max-width: 425px) {
  .titleSize {
    font-size: 40px;
  }
}