.btn-style {
  text-shadow: 3px 4px 3px #8888888c;
  color: rgb(220, 223, 66);
  font-size: 16px;
  font-family: 'Ubuntu', sans-serif;
}

.btn-style:hover, .btn-style:active, .btn-style:focus {
  background-color: none;
}