<div class="container-fluid m-0 p-0">
    <div class="row m-0 no-gutters">
        <div class="col-lg-3 m-0">
            <app-nav-bar></app-nav-bar>
        </div>
        <div class="col-lg-9 m-0 p-0 container mobileScroll">
            <div class="row">
                <div class="col-md-10 containerWall">
                    <h1 class="titleWall text-center">Logremos el 7</h1>
                    <h1 class="display-4 text-center text-white titlePerfil">Muro</h1>
                    <div class="container-fluid public">
                        <div class="row contForm">
                            <div class="col-md-12">
                                <app-form-muro></app-form-muro>
                                <div class="container-fluid" *ngFor="let profileItem of profileList | async">
                                    <app-post *ngIf='profileItem' [dataUser]="profileItem" [infoUser]="infoUser"></app-post>
                                </div>                                 
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>  
    </div>
</div>
