.btn-style {
  text-shadow: 3px 4px 3px #8888888c;
  color: rgb(220, 223, 66);
  font-size: 20px;
  font-family: 'Ubuntu', sans-serif;
}

.btn-style:hover {
  transition: 0.4s;
  box-shadow: 2px 2px 2px 0px rgba(0, 0, 0, 1);
}

@media (min-width: 1025px) {
  .btn-style {
    font-size: 18px;
  }
}

@media (max-width: 425px) {
  .btn-style {
    font-size: 16px;
  }
}