<div class="container mobileScroll">
  <div class="row">
    <div class="col-md-10 containerWall">
      <h1 class="titleWall text-center">Logremos el 7</h1>
      <h1 class="display-4 text-center text-white titlePerfil">Muro</h1>
      <div class="container-fluid public">
        <div class="row contForm">
          <div class="col-md-12">
            <div class="row">
              <div class="col-12">
                <textarea class="form-control able" rows="3"></textarea>
              </div>
            </div>
            <div class="row">
              <div class="col-12 mb-3">
                <button type="button" class="btn btn-primary float-right mt-3" data-toggle="modal" placeholder= "Ingrese su comentario" data-target="#exampleModal">Publicar</button>
              </div>
              <div class="comentarios">
                <img src="../../../img/p1.png">
              </div>
              <div class="comentarios">
                <img src="../../../img/p2.png">
              </div>
              <div class="comentarios">
                <img src="../../../img/p3.png">
              </div>
              <div class="comentarios">
                <img src="../../../img/p4.png">
              </div>
              <div class="comentarios">
                <img src="../../../img/p5.png">
              </div>
              <div class="comentarios">
                <img src="../../../img/p6.png">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>  

