.containerLogin {
  max-width: 100%;
  background: url("../../../img/fondoGral.jpg") no-repeat center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: calc(100vh - 0px);
  margin: 0;
  border: 15px groove #9C644B;
  height: auto;
  box-shadow: rgba(0, 0, 0, 0.4) 10px 10px inset;
}

.mobileScroll{
  height: calc(100vh - 0px);
  overflow-y: auto;
}

.titleSizeCuenta {
  color: #fff;
  font-family: 'Ubuntu', sans-serif;
}

@media (min-width: 1025px) {
  .titleSizeCuenta {
    font-size: 40px;
  }
}

@media (max-width: 1024px) {
  .titleSizeCuenta {
    font-size: 30px;
  }
}

@media (max-width: 425px) {
  .titleSizeCuenta {
    font-size: 20px;
  }
}